@using Microsoft.AspNet.Identity
@model PetConnection.Models.PetData
@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

@foreach(var info in Model)
{
    <table> 
        <tr>
            <td>
                info.Type
                info.sex
                info.color
                info.breed
                info.age

            </td>
        </tr>
    </table>
    
    
};