@using Microsoft.AspNet.Identity
@model IEnumerable<PetConnection.Models.PetData>
@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

@foreach(var info in Model)
{
    <table>
        <tr>
            <td>
                info.Type
            </td>
        </tr>
    </table>


}
<p>Pet bloggers will totally change your life.</p>
<p>Of all the millions of things to be obsessed with on the World Wide Web, pet blogs are by far our favorite. 
They teach us how to keep our own pets healthy and happy, raise awareness for animals in need and even have a fun giveaway every now and again. 
Most important, let's not forget they're usually filled with photos of squishy little faces that instantly have us talking in our high-pitched baby voices.</p>
<center><img src="~/Content/image/pets3.jpg" /></center>