
@{
    ViewBag.Title = "Contract";
}
<center>
<h2>Agreement Contract</h2>
<p>Want to adopt a pet? Click down below for the full Contract.</p>
<a href="~/Content/adoption.pdf" value="Resume"> Pet Adoption Agreement Contract </a>

    </center>
