<center>
<h2>Got Questions? <small>Feel free to contact us</small></h2>

 <form action="mailto:bengcha91@gmail.com" method="post" enctype="text/plain" >
 <div class="form-group">
 <label for="name">Your Full Name</label>
 <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
 </div>

<div class="form-group">
<label for="email">Your Email Address</label>
<div class="input-group">
</div>
<input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
</div>



<div class="form-group">
<label for="name">Your Message</label>
<textarea name="message" id="message" class="form-control" required="required" placeholder="Message"></textarea>
</div>                
<button type="submit" class="btn btn-primary" id="btnContactUs">Send Message</button>
     </form>
    <br /><br />

If you have a question that require immediate answer, we can be reach at 414-123-4567



    </center>