@{
    ViewBag.Title = "Home Page";
}
<center>
    <h1 class="title"><b>Pet Connection</b></h1>
    <p><h4>Make your community a safe place for pets</h4></p>
    <img src="~/Content/image/petCover.jpg" />
</center>



<div class="row">
    <div class="col-md-4">
        <h3>Adopt a Pet</h3>
       <p>Ever dream of having a pet of your own? With Pet Connection, you can find the right pet.</p>

    </div>
    <div class="col-md-4">
        <h3>Find Your Pet a New Home</h3>
        <p>Got a pet that you can't look after anymore? Pet Connection can help find your pet a new home.</p>


    </div>
    <div class="col-md-4">
        <h3>Support Animal Cause</h3>
        <p>
            Do you want to help animals? They certainly need your assistance. Help make your community a better place for pets.
        </p>

    </div>

</div>