
@{
    ViewBag.Title = "View";
}

<center>
    <h2>Post Your Pet For Adoption</h2>


    <form method="post">

        <div>
            <label for="Type">Pet Type:</label>
            <input type="text" name="Type" value="" />
        </div>
        <div>
            <label for="Sex">Pet Sex:</label>
            <input type="text" name="Sex" value="" />
        </div>
        <div>
            <label for="Colore">Pet Color:</label>
            <input type="text" name="Color" value="" />
        </div>
        <div>
            <label for="Breed">Pet Breed:</label>
            <input type="text" name="Breed" value="" />
        </div>
        <div>
            <label for="Age">Pet Age:</label>
            <input type="text" name="Age" value="" />
        </div>
        <div>
            <label for="Size">Pet Size:</label>
            <input type="text" name="Size" value="" />
        </div>

        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </form>
</center>
